<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="GasChargeCS" connectionString="Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=%CONTENTROOTPATH%\\db\\GasChargeDB.mdf;Integrated Security=True;Connect Timeout=30" />
		<add name="PlisCS" connectionString="Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=%CONTENTROOTPATH%\\db\\PlisDB.mdf;Integrated Security=True;Connect Timeout=30" />
		<add name="GedaCS" connectionString="Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename=%CONTENTROOTPATH%\\db\\GedaDB.mdf;Integrated Security=True;Connect Timeout=30" />
	</connectionStrings>
	<!--GALILEO-->
	<appSettings>
		<add key="com_read" value="COM2"/>
		<add key="com_write" value="COM1"/>
		<add key="com_read_allow" value="true"/>
		<add key="com_write_allow" value="true"/>
		<add key="com_write_rate" value="9600"/>
		<add key="com_write_bits" value="8"/>
		<add key="com_write_parity" value="None"/>
		<add key="com_write_stop" value="1"/>
		<add key="com_stx" value="2"/>
		<add key="com_cr" value="13"/>
		<add key="cycle_timeout" value="5"/>
		<add key="db_name" value="Geda"/>
		<add key="errors_count" value="2"/>
		<add key="repairs_count" value="3"/>
		<add key="station_number" value="14"/>
		<add key="station_number_neighbor" value="7"/>
		<add key="debug" value="false"/>
		<add key="plc_ip" value="10.7.4.67"/>
		<add key="plc_presence" value="82"/>
		<add key="plc_button" value="83"/>
		<add key="plc_start" value="1"/>
		<add key="plc_start_emergency" value="2"/>
		<add key="plc_repeat_send" value="3"/>
		<add key="plc_range_start" value="84"/>
		<add key="plc_range_size" value="22"/>
		<add key="plc_address_to_send" value="DB502.DBB23"/>
	</appSettings>
	<!--GALILEO-->
	<!--AGRAMKOW-->
	<!--<appSettings>
		<add key="com_read" value="COM5"/>
		<add key="com_write" value="COM1"/>
		<add key="com_read_allow" value="true"/>
		<add key="com_write_allow" value="true"/>
		<add key="com_write_rate" value="2400"/>
		<add key="com_write_bits" value="7"/>
		<add key="com_write_parity" value="None"/>
		<add key="com_write_stop" value="2"/>
		<add key="com_stx" value="10"/>
		<add key="com_cr" value="13"/>
		<add key="cycle_timeout" value="5"/>
		<add key="db_name" value="Plis"/>
		<add key="errors_count" value="3"/>
		<add key="repairs_count" value="3"/>
		<add key="station_number" value="7"/>
		<add key="station_number_neighbor" value="14"/>
		<add key="debug" value="false"/>
		<add key="plc_ip" value="10.7.4.67"/>
		<add key="plc_presence" value="58"/>
		<add key="plc_button" value="59"/>
		<add key="plc_start" value="1"/>
		<add key="plc_start_emergency" value="2"/>
		<add key="plc_repeat_send" value="16"/>
		<add key="plc_range_start" value="60"/>
		<add key="plc_range_size" value="22"/>
		<add key="plc_address_to_send" value="DB502.DBB18"/>
	</appSettings>-->
	<!--AGRAMKOW-->
</configuration>